body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #0a0a0a;
    color: white;
}

.hero {
    background: linear-gradient(to bottom, #111, #000);
    padding: 60px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
    letter-spacing: 2px;
    color: #00aaff;
}

.hero p {
    font-size: 20px;
    opacity: 0.8;
    font-weight: lighter;
}

.search-bar {
    margin-top: 25px;
}

input {
    width: 60%;
    padding: 12px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 16px;
}

/* Filters */
.filters {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
    flex-wrap: wrap;
}

select {
    padding: 10px 18px;
    border-radius: 20px;
    border: none;
    background: #111;
    color: white;
    font-size: 16px;
}

/* Car grid */
.car-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.car-card {
    background: #111;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.3s;
    border: 1px solid #222;
}

.car-card:hover {
    transform: scale(1.04);
    border-color: #00aaff;
    box-shadow: 0px 14px 20px #00aaff;
}

.car-card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.car-info {
    margin: 0 40px;
}

.car-info h3 {
    margin: 5px 10px 20px;
    color: #00aaff;

}

.car-info p {
    margin: 25px 0;
    opacity: 0.8;
    font-size: 14px;
}

span {
    font-size: 1.2em;
}

.btn {
    display: block;
    margin-top: 10px;
    background: #00aaff;
    color: black;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
}

#old {
    text-decoration: line-through;
}

.buy-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.buy {
    width: 100px;
    height: 50px;
    border-radius: 40px;
    background-color: #ffffff;
    transition: 0.7s ease;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.buy:hover {
    transform: translateY(-10px);
    background-color: #6490ff;
    box-shadow: 0px 7px 20px #0048ff;
}



.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
    z-index: 999;
}

.modal-box {
    background: #111;
    color: white;
    width: 320px;
    padding: 25px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 22px;
    cursor: pointer;
}

#confirmBuy {
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.mail {
    margin-right: 35px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {

    /* Hero Section */
    .hero h1 {
        font-size: 32px;
        /* Smaller font for mobile */
    }

    .hero p {
        font-size: 16px;
    }

    input {
        width: 90%;
        /* Utilize full width */
    }

    /* Filters */
    .filters {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    select {
        width: 80%;
    }

    /* Car Grid */
    .car-grid {
        grid-template-columns: 1fr;
        /* Force single column */
        padding: 10px;
        gap: 20px;
    }

    .car-card {
        margin: 0 auto;
        width: 100%;
        max-width: 400px;
        /* constant width look */
    }

    /* Modal */
    .modal-box {
        width: 90%;
        max-width: 320px;
        position: fixed;
        padding: 20px;
    }

    .buy-btn {
        margin-bottom: 20px;
    }
}