                /* main */

body {
    background: linear-gradient(180deg, #1D1D1D 32.77%, #2F2F2F 53.85%, #5C5A5A 87.5%);
    color: #FFFFFF;            /* white text for contrast */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* cards */

section{
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;      /*  lcards cayjiw 7da b3diyathom o mli kay3mer sef katenzel automatique */
}

.card-container {
    display: flex; 
    justify-content: center; /* Centers the cards horizontally */
    gap: 40px; /* space between the cards */
    padding: 50px 20px;
}

.car-card {
    width: 450px;
    background: linear-gradient(180deg, #005FB8 0%, #999999 100%);
    border-radius: 12px; 
    overflow: hidden; /* Ensures that the image fits the rounded corners */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.car-card:hover {
    transform: translateY(-8px);  /* Lifts the card */
    box-shadow: 0 15px 50px #ffffff, 0 0 10px black; /* Adds a subtle gold glow */
    border-color: black; /* Gold outline on hover */
}


.cars{ 
    width: 100%;
    height: auto;
}

.card-body {
    padding: 25px 30px; 
}

.car-card h3 {
    font-size: 1.8em;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
    border-bottom: 2px solid var(--luxury-gold, #FFC300); /* Gold line under the title */
    display: inline-block;
    padding-bottom: 5px;
}

.car-card p {
    font-size: 1em;
    color: rgb(0, 0, 0); /* color for description */
    margin-top: 15px;
    padding: 8px;
}

span{
    font-weight: bold;
}
