                /* header */
.qwe {
    height: 100vh;
} 

header {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    position: fixed; 
    top: 0;
    z-index: 100; /* Ensure the header is above everything */
}

.bord{
    border: 2px solid black;
    padding: 5px 15px;
    border-radius: 40px;
    text-align: center;
    transition: all 0.5s;
    
}

.bord:hover{
    border-color: white;
    background-color: black;
}

a {
    text-decoration: none;  
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    transition: color 0.55s;
}

.bord:hover a{
    color: white;
}