


                /* main body */


body{
    background: linear-gradient(180deg, #2f4f4f, #1e1e1e);
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.title{
    font-size: 4.8em;
    margin-top: 2.2em;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

h2{
    margin-top:0 ;
    margin-bottom: 5em;
    display: flex;
    justify-content: center;
    font-weight: lighter;
    font-size: 2em;
}

.main{
    display: flex;
    justify-content: space-around;
}

.content{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    background: linear-gradient(180deg, #444444, #444444);
    border-radius: 40px;
    transition: transform 1s ease, box-shadow 1.1s ease, background-color 10s ease;

    
}
.content:hover{
    transform: translateY(-30px); 
    box-shadow: 0 8px 30px rgba(218, 165, 32, 0.6), 0 0 10px black; 
    border-color: black;
    background: linear-gradient(180deg, #1C1C1C, #000000);

}
.content:hover .para p {
    color: #DAA520;
}

.para{
    margin: 20px;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: lighter;
}
.para p:last-child { 
    font-weight: bold;
}
.photo{
    width: 180px;
    height: auto;
    margin: 30px;
    transition: 1s;
}
.content:hover .photo {
    filter: drop-shadow(0 0 5px #B8860B); /* Adds a light gold glow around the icon */
    transform: scale(1.05); /* Slightly enlarges the icon */

}



                /* footer */


